<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users</title>
  </head>
  <body>
    <ul>
      <% Object.keys(users).forEach(function(key, i) { %>
        <li><%= users[key][0] %> (<%= users[key][1] %>)</li>
      <% }); %>
    </ul>
  </body>
</html>
