<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users</title>
  </head>
  <body>
    <ol>
      <% Object.keys(users).forEach(function(key, i) { %>
        <li><a href="https://www.github.com/<%= users[key][0] %>" target="_blank" rel="noopener"><%= users[key][0] %></a> (<%= users[key][1] %>)</li>
      <% }); %>
    </ol>
  </body>
</html>
